<IfModule mod_rewrite.c>
    RewriteEngine On
    # Subdirectory? Change to: RewriteBase /new/public/
    RewriteBase /
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
